.container {
  flex: auto;
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__content {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
}
