@use '../../assets/styles/variables';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinning {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: variables.$primary;
    border-bottom-color: variables.$primary;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
