@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.container {
  flex: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;

  &__divInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    &__icon {
      margin-right: 10px;
      position: absolute;
      left: 15px;
    }

    &__input {
      flex: auto;
      outline: none;
      border: none;
      padding: 10px 15px 10px 40px;
      border-radius: 20px;
      font-size: 16px;
    }
  }

  &__title {
    margin: 10px 0 20px;
  }

  &__main {
    padding: 20px;
    background-color: white;
    border-radius: 20px;

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-content: center;
      gap: 20px;

      @include mixins.md {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mixins.sm {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
