@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: variables.$box-shadow-nav;
  background-color: white;

  &__containerImg {
    flex: auto;
    &__img {
      width: 150px;
    }
  }

  &__icon {
    display: none;
    cursor: pointer;
    color: variables.$primary;
    font-size: 25px;

    @include mixins.sm {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include mixins.sm {
      display: none;
    }

    &__item {
      margin-right: 10px;

      button {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
