@use '../../assets/styles/variables';
@use '../../assets/styles/mixins';

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: variables.$box-shadow-nav;
  background-color: white;
  position: relative;

  &__containerImg {
    flex: auto;
    &__img {
      width: 150px;
    }
  }

  &__icon {
    display: none;
    cursor: pointer;
    color: variables.$primary;
    font-size: 25px;

    @include mixins.sm {
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include mixins.sm {
      display: none;
      box-shadow: variables.$box-shadow;
    }

    &__item {
      margin-right: 10px;
      
      @include mixins.sm {
        margin-right: 0px;
      }

      &:first-child {
        @include mixins.sm {
          margin-bottom: 20px;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}

.active {
  display: block;
  position: absolute;
  right: 10px;
  top: 70px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  z-index: 1;
}

.calc {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 57px;
}
